[submodule "spec/plugins/vim/syntastic"]
	path = spec/plugins/vim/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "spec/plugins/vim/ycm"]
	path = spec/plugins/vim/ycm
	url = https://github.com/Valloric/YouCompleteMe
